:root {
  --primary-color: #70d5d2;
  --secondary-color: #d3f8e2;
  --accent-color: #fe729b;
  --tertiary-color: #fff5d7;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.location {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: right;
}

.headshot-img {
  max-height: 142px;
}

h1,
h3 {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 45px;
}

.page-content {
  position: relative;
  top: 200px;
  margin-left: 177px;
  margin-right: 177px;
}

.section-title {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  padding-bottom: 20px;
  font-size: 35px;
}

.section-title-2 {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  padding-bottom: 5px;
  font-size: 25px;
}

.see-more-container {
  padding-top: 18px;
}

a.see-more-link {
  font-family: "Dosis", sans-serif;
  color: var(--accent-color);
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
}

.primary-link {
  font-family: "Dosis", sans-serif;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  font-family: "Dosis", sans-serif;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

#centered-btn {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}

.btn-branding1 {
  font-family: "Dosis", sans-serif;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--accent-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.btn-branding2 {
  font-family: "Dosis", sans-serif;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: black;
}

.btn-branding1:hover {
  background: var(--primary-color);
  color: black;
}

.btn-branding2:hover {
  background: var(--accent-color);
  color: white;
}

.cert-link {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: var(--accent-color);
}

.container-cert,
.container-educ {
  max-width: 960px;
  margin: 100px auto;
}

.row {
  display: flex;
}

.col-md-6 {
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px;
}

svg.bi-geo-fill,
svg.bi-arrow-bar-right {
  color: var(--accent-color);
}
.responsive-p {
  padding-left: 10%;
  padding-right: 10%;
}

p.responsive-p {
  text-indent: 3em;
}

.contact-section {
  background: var(--tertiary-color);
  margin: 130px auto;
  max-width: 620px;
  max-height: 400px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 1.5;
}

.email-link,
.linkedin {
  display: flex;
  justify-content: center;
  color: var(--accent-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover,
.linkedin:hover,
.cert-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

@media (max-width: 800px) {
  h1 {
    font-size: 18px;
  }
  .location {
    font-size: 12px;
  }
  .col-md-6 {
    width: 100%;
  }
  .contact-section {
    margin: 20px;
  }
  .page-content {
    position: relative;
    top: 110px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .container-cert,
  .container-educ {
    max-width: 960px;
    margin: 20px;
  }
  h1.hello-text {
    font-size: 40px;
  }
  .responsive-p {
    padding-left: 5%;
    padding-right: 5%;
  }
  h1.work-inq {
    font-size: 30px;
  }
  h6.inq-tagline {
    font-size: 20px;
  }
  .proj-img {
    max-width: 100%;
    height: auto;
  }
  .mt-small {
    margin-top: 0.5rem;
  }
  .btn-branding2,
  .btn-branding1 {
    display: block;
    max-width: 50%;
  }
}
