:root {
  --primary-color: #70d5d2;
  --secondary-color: #d3f8e2;
  --accent-color: #fe729b;
  --tertiary-color: #feeaae;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.location {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: right;
}
.headshot-img {
  max-height: 142px;
}
h1 {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 45px;
}
.page-content {
  position: relative;
  top: 200px;
}
.section-title {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  padding-bottom: 15px;
}
.section-title-2 {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  padding-bottom: 15px;
  padding-left: 35px;
}
.see-more-container {
  padding-right: 95px;
  padding-top: 18px;
}
a.see-more-link {
  font-family: "Dosis", sans-serif;
  color: var(--accent-color);
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
}

.primary-link {
  font-family: "Dosis", sans-serif;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  font-family: "Dosis", sans-serif;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
svg.bi-geo-fill,
svg.bi-arrow-bar-right {
  color: var(--accent-color);
}

@media (max-width: 800px) {
  h1 {
    font-size: 18px;
  }
  .location {
    font-size: 12px;
  }
}
